@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
	color: hsl(221, 14%, 31%);
	font-weight: 700;
}

body{
	width: 100%;
	max-width: 1440px;
	background-color: hsl(222, 26%, 31%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.toggle{
	display: flex;
	justify-content: space-between;
}
.right{
	display: flex;
	justify-content: flex-end;
}
.toggle p{
	margin: 0 5px;
	color: #FFF;
	cursor: pointer;
}

h3{
	color: #FFF;
}
.control{
	display: flex;
	justify-content: flex-end;
}
.control .box{
	width: 60px;
	height: 15px;
	background-color: hsl(224, 36%, 15%);
	border-radius: 30px;
	margin-left: 4px;
	position: relative;
}

#circle{
	width: 15px;
	height: 15px;
	background-color: hsl(6, 63%, 50%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 30px;
}

.control p{
	color: #FFF;
	cursor: pointer;
	margin-right: 4px;
}

.screen{
	width: 450px;
}
#screen{
	width: 100%;
	height: 100px;
	margin: 10px 0;
	text-align: right;
	font-size: 32px;
	background-color: hsl(224, 36%, 15%);
	color: #FFF;
	border: 0;
	outline: none;
	border-radius: 7px;
}

button{
	width: 90px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px hsl(28, 16%, 65%);
    margin: 10px 10px;
    font-size: 32px;
   
}

.btn{
	display: flex;
	width: 450px;
	flex-flow: wrap;
	background-color: hsl(224, 36%, 15%);
	padding: 10px 5px;
	margin: 8px 0;
	border-radius: 7px;
}

